#jumbotron {
    color: #494CA2;
    font-size: 48px;
    background-color: #C6CBEF;
}

body {
    background-color: #E3E7F1;
    color: #494CA2;
}

#entirecard {
    background-color: #8186D5;
}

#zipcodecard, #pinterestcard, #youtubeplayercard {
    background-color:   #E3E7F1;
}

#footer {
    background-color: black;
    height: 100px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

.logo {
    width: 90px;
    height: 90px;
    padding: 5px;
}