#header {
  color: rgb(54, 117, 126);
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  padding: 20px;
}
#submit {
  width: 100%;
}
#userZipCode {
  width: 100%;
}
#spotPlayer {
  position: relative;
  right: 12px;
  width: 100%;
}
#bored-section, #book-section {
    position: relative;
    height: 50%;
    display: block;
    background-color: rgba(255, 255, 255, 0.63);
    border: 20px;
    border-right: 3px solid rgb(35, 75, 82, 0.5);
}
#bored-section{
border-bottom: 1px solid rgb(35, 75, 82, 0.5);
}
#bored-text, #book-text, #forecast-text{
    position: relative;
    text-align: center;
    font-size: 4vh;
    color: rgb(35, 75, 82);
    top: 40%;
}

.forecast, .spotify-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.63);
}
body {
  background-color: #9ee2eb;
}

#zipcodecard,
#pinterestcard,
#youtubeplayercard {
  background-color: rgb(19, 19, 19);
}
